<div class="p-4">
  <h2 class="text-lg font-semibold">About</h2>
  <div class="flex flex-col gap-4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a porta justo, sit amet sodales ligula. Vivamus
      pretium vitae elit ut tincidunt. Nulla consectetur, metus ut iaculis dignissim, odio purus malesuada dolor, et
      pellentesque augue justo vel massa. Nunc tempor velit et urna sollicitudin, eu elementum nulla consequat. Fusce
      risus metus, interdum id varius sed, ornare nec ligula. Fusce at tincidunt magna. Fusce leo nisl, venenatis eget
      dui in, cursus porta risus. Integer at enim velit. Pellentesque id posuere libero. Aenean nec augue magna.
    </p>
    <p>
      Cras eu scelerisque nisl, sit amet vestibulum dolor. Nunc fringilla in nisi non dictum. Integer et orci luctus,
      suscipit orci in, sagittis lectus. Maecenas blandit dolor ac tristique lacinia. Sed nec libero non lectus
      vulputate tempus eget eget ipsum. Praesent nisi enim, dapibus eget consequat ut, varius non lacus. Maecenas vitae
      mattis elit, nec mollis augue. Sed aliquet ipsum eget erat efficitur imperdiet. Nullam id nunc vitae ligula
      pharetra pharetra at eu lectus. Nunc ante neque, volutpat sed lorem sit amet, mattis bibendum libero. Donec
      lobortis hendrerit augue, sit amet consectetur tellus pellentesque a. Morbi imperdiet et est eu consequat. Integer
      dictum, lorem a imperdiet malesuada, nisl nisl eleifend tellus, at dapibus augue arcu nec nibh. Cras mauris
      libero, lacinia id efficitur id, gravida at lacus. Curabitur diam est, molestie id auctor ut, accumsan sit amet
      neque.
    </p>
  </div>
  <div ngxViewTransitionEnd="full-embed">
    <div class="h-40 w-40 rounded-full bg-slate-700"></div>
  </div>
</div>
