<nav
  *ngIf="{} as vm"
  class="fixed left-0 right-0 top-0 z-50 h-20 w-screen border-b border-slate-200 bg-white dark:border-slate-600 dark:bg-[#111116] dark:text-white">
  <div class="flex h-full w-full items-center">
    <div class="flex items-center">
      <a routerLink="/" class="px-4 text-2xl font-semibold text-indigo-700 hover:text-indigo-800"
        >View Transitions Demo</a
      >
    </div>
    <div class="flex items-center gap-6 px-4">
      <a routerLink="/" class="font-semibold text-indigo-900 hover:text-indigo-900">Home</a>
      <a routerLink="/about" class="font-semibold text-indigo-900 hover:text-indigo-900">About</a>
      <a routerLink="/contact" class="font-semibold text-indigo-900 hover:text-indigo-900">Contact</a>
    </div>
    <div class="flex-1"></div>
  </div>
</nav>
<div class="h-20"></div>
